button {
    color: white;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: green;
    cursor: pointer;
    border: 1px solid black;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px black, -6px -6px 12px black;
    position: absolute;
    top: 30px;
    right: 40px;
}
  
button:active {
     color: #666;
     box-shadow: inset 4px 4px 12px rgb(31, 28, 28), inset -4px -4px 12px rgb(31, 28, 28);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    width: 100vh;

}
h1{
    font-size: 60px;
    position: absolute;
    top: 200px;
    left: 50px;
}

h2{
    font-size: 30px;
    position: absolute;
    top: 290px;
    left: 50px;
}
