<section>
    <html lang="es">
    <head>
      <title>Interfaz Común</title>
    </head>
    <body>
      <div class="frame-superior">
        <div class="House">
          <!--....<button class="house-button" >
            <img src="assets/imagenes/house-solid.svg" alt="Icono de inicio para ir a la pagina principal o menu principal">
          </button>-->
        </div>
        <div class="Ucobet-Logo">
          <img src="assets/imagenes/UcoBetLogo-Without-Background.png" alt="Ucobet logo" class="logo">
        </div>
  
        <!--....<button class="button-logout" >
        </button>-->
      </div>
    </body>
    </html>
  </section>
  
